.Tasitc-Cli {
  input {
    font-size: 30px;
    width: 80%;
    margin: 10% 0px 0px calc(50vw - 40%);
  }
  &-Failed {
    color: red;
  }
  &-Result {
    position: absolute;
    z-index: -1;
  }
}
