.Tasitc-Cli-Preview {
  position: relative;
  width: 80%;
  height: 20vh;
  overflow: auto;
  margin: 0px 0px 0px calc(50vw - 40%);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;

  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
