@font-face {
  font-family: Menlo;
  src: url('/assets/fonts/Menlo-Regular.ttf');
}
$foreground: #839496;
$black-bright: #002833;
$blue: #268bd2;
$white: #eee8d5;
$red: #dc322f;
$green: #859901;

body {
  margin: 0;
  background-color: $black-bright;
}

div {
  color: $foreground;
  font-family: Menlo;
  font-size: 18px;
}

#input {
  display: inline-block;
}

.line {
  display: inline-block;
  .path {
    background-color: $blue;
    color: $black-bright;
  }
  .path-sep {
    background-color: $green;
    color: $blue;
  }
  .command {
    background-color: $black-bright;
    color: $blue;
  }

  .branch {
    background-color: $green;
    color: $black-bright;
  }
  .branch-sep {
    background-color: $black-bright;
    color: $green;
  }
}

.output {
  display: table;
  .dir {
    color: $blue;
  }
  .exec {
    color: $red;
  }
  .output-line {
    display: table-row;
    span {
      display: table-cell;
      padding-right: 2em;
    }
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  &:before {
    content:"_";
    opacity: 1;
    position: absolute;
    animation: cursor 1s infinite;
  }
}

.cursor-empty {
  animation: cursor 1s infinite;
}
