@font-face {
  font-family: Menlo;
  src: url('/assets/fonts/Menlo-Regular.ttf');
}
@import 'font-awesome/font-awesome';

$foreground: #839496;
$black-bright: #002833;
$blue: #268bd2;
$white: #eee8d5;
$red: #dc322f;
$green: #859901;

body {
  margin: 0;
  background-color: $black-bright;
}

div {
  color: $foreground;
  font-family: Menlo;
  font-size: 18px;
}


.line {
  display: inline-block;
  .path {
    background-color: $blue;
    color: $black-bright;
  }
  .path-sep {
    background-color: $green;
    color: $blue;
  }
  .command {
    background-color: $black-bright;
    color: $blue;
  }

  .branch {
    background-color: $green;
    color: $black-bright;
  }
  .branch-sep {
    background-color: $black-bright;
    color: $green;
  }
}

#history {
  .dir {
    color: $blue;
  }
  .exec {
    color: $red;
  }
  .output-line {
    display: table-row;
    span {
      display: table-cell;
    }
    .filename {
      display: inline-block;
    }
    .icon {
      display: inline-block;
      padding-right: 0.5em;
    }
    .padded {
      padding-left: 0.9em;
    }
  }
}

.hidden {
  display: none;
}

pre {
  color: $foreground;
  font-family: Menlo;
  font-size: 18px;
  margin: 0;
  display: inline-block;
}

#input {
  display: inline-block;
  word-break: break-all;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cursor {
  &:before {
    content:"_";
    opacity: 1;
    position: absolute;
    animation: cursor 1s infinite;
  }
}

.tooltip {
  position: absolute;
  border: 1px solid;
  margin-top: 1.5em;
  background-color: $white;
  color: $foreground;
}

@keyframes highlight {
  0% {
    opacity: 0;
    background-color: #F3F3F3;
    // min-width: 0px;
    // border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px;

  }
  100% {
    opacity: 1;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;

  }
}

@keyframes highlight-list {
  0% {
    height: 0em;
    overflow-y: hidden;
  }
  100% {
    //opacity: 1;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;

  }
}

.clux2 { //command line user experience 2
  &-path-selector {
    z-index: 1;
    animation: highlight 0.5s;
    opacity: 1;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    //border: 2px solid #F3F3F3;
    box-sizing: border-box;
    ul {
      animation: highlight-list 0.5s;
      box-shadow: 3px 3px 3px 0px rgb(0, 0, 0);
      position: absolute;
      background-color: #F3F3F3;
      padding: 0em;
      margin: 0;
      list-style: none;
      li {
        color: #525252;
      }
    }
  }
}
