[submodule "git-tree"]
	path = git-tree
	url = https://github.com/creationix/git-tree.git
[submodule "js-git"]
	path = js-git
	url = https://github.com/creationix/js-git.git
[submodule "js-github"]
	path = js-github
	url = https://github.com/creationix/js-github.git
[submodule "carallel"]
	path = carallel
	url = https://github.com/creationix/carallel.git
